<div class="container" id="page_detalle">
    <div class="row">
        <div class="col-md-4">
            <img class="image_principal" src="assets/images/pokemones/{{detallePokemon.name}}.png" />
        </div>
        <div class="col-md-4">
            <div>
                <h1>{{ detallePokemon.name }}</h1>
            </div>
            <div class="movimientos">
                <b>Movimientos:</b>
                <div class="content">
                    <div *ngFor="let movimientos of detallePokemon.moves">
                        {{ movimientos.move.name }}
                    </div>
                </div>
                <div class="acciones">
                    <button type="button" class="btn-sm btn btn-success" (click)="saveCarritoPokemon(detallePokemon.name)">Añadir al carrito</button>
                    &nbsp;&nbsp;
                    <svg (click)="saveDeseadosPokemon(detallePokemon.name)" class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Relacionados</h2>
            <div *ngFor="let pokemon of detallePokemon.relacionados">
                <a (click)="iraRelacionados(pokemon.pokemon.name)">{{ pokemon.pokemon.name }}</a>
            </div>
        </div>
    </div>
</div>
