h1{
    margin-top: 20px;
    text-transform: uppercase;
}
.image_principal{
    width: 300px;
}
.movimientos{
    .content{
        overflow-y: scroll;
        height: 100px;
    }
}

.acciones{
    margin-top: 20px;
}